

<!-- <div class="app-container">
    <nav class="nav">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Logo
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <ul class="nav-list">
        <li><a routerLink="/admin-accueil" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Accueil</a></li>
        <li><a routerLink="/liste-rdv" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Rendez-vous</a></li>
        <li><a routerLink="/liste-doc" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Liste medecin</a></li>
        <i><a routerLink="/login" style="font-size: 20px; font-weight: bold; cursor: pointer;">Logout</a></i>
      </ul>
    </nav>
   -->

