<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<div class="footer">
    <div class="foot">
    <div class="contact">
        <h3>Contact</h3>
        <h4><i class="fa-duotone fa-phone"></i> Appelé le : 62356569 <br>exemple@gmail.com <br>Hamdalaye ACI</h4>
    </div>
    <div class="lien">
        <h4>Liens utile</h4>
        <a href="src/app/appcreationrendezvous">Rendez-vous</a><br>
        <a href="src/appcalendrierrendezvous">Calendrier</a>
    </div>
    </div>
    <p style="text-align: center;color: white;">@ 2023 Tous droits reservés</p>
</div>

