table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #38B198;
    color: #ffffff;
  }
  
  td {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* .form-container {
    overflow: hidden; */
    /* transition: max-height 0.5s ease-in-out; /* Transition pour la hauteur maximale */
    /* max-height: 0; */ 
     /* Masquer le formulaire initialement */
  /* } */
  /* .form-container.in {
    max-height: 1000px; */
     /* Hauteur maximale du formulaire lorsque visible */
  /* } */
  
  tr:nth-child(even) td {
    background-color: #42f3d0;
  }
  
  tr:hover td {
    background-color: #ffe6cc;
  }
  
  .action-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .action-links a {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #ffffff;
    background-color: #38B198;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .action-links a:hover {
    background-color: #38B198;
  }
  
  .btn{
    color:#fff; margin-left:190vh;
    margin-top: -10px;
    border: 2px solid #fff;
    background-color: #38B198; 
    border-radius: 15px;
    margin-top:-5px;
    width: 130px; height:40px;
    font-size:20px;
    cursor: pointer;
  }
  
  
  #animation-text {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    /* background-color: #f0f0f0; */
    animation: fade 2s ease-in-out;
  }
  
  @keyframes fade {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  
  a{
    margin-left: 20px;
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }