

<div class="add-doctor-container" style="margin-left: 50px; margin-top: 40px;" [@slideInOut]>
    <h2  (click)="openDialog()" class="title" >Prendre rendez - vous</h2> <br>
    <div class="trait">  </div>
  
    <div class="form-container">
   
      
      <!-- <h4 class="title" style="margin-left:290px; margin-top:15px;"  (change)="handleImageChange($event)" accept="image/*" >Charger l'image</h4> -->
      <!-- <input type="file" style="display:noe; margin-left:320px; margin-top:-50px; width:30px;" (change)="handleImageChange($event)" accept="image/*" class="input-field"> -->
     
      <form>
        <div class="input-group">
            <label for="" > Docteur </label>
            <select name="" id="" class="input-field" style="margin-top: 5px;">
                <option value="" ></option>
                <option value="" >Bah</option>
                <option value="">Traoré</option>
            </select> <br>
            <label for="" > Date </label>
            <input type="date" placeholder="Date" class="input-field">
            <label for="" > Heure </label>
            <input type="time"  placeholder="Heure" class="input-field">
            <label for="" > Motif </label>
          <input type="text"  placeholder="Motif" class="input-field">

        </div>
        <button type="button" class="add-button" >
             <i class="fa fa-check"> </i> 
             Confirmer</button>
      </form>
      <div mat-dialog-actions>
        <button mat-button mat-dialog-close type="button" class="btn" style="margin-left:-20px; margin-top: -90px;" >
          <i class="fa fa-window-close"></i> Annuler
        </button>

      </div>

    </div>
  </div>
  

