<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
 


  <h2 style="margin-left: 5vh;" id="animation-text">Liste des docteurs</h2>
  <!-- <button (click)="toggleAjouterMedecinForm()">Ajouter Médecin</button> -->

 <button  class="btn" >  <i class="fa fa-plus"> </i> Ajouter  </button>
 <!-- <app-ajoutermedecin *ngIf="showAjouterMedecinForm"></app-ajoutermedecin> -->
 <!-- <div class="modal-overlay" >
  <div class="modal-content">
    <app-ajoutermedecin></app-ajoutermedecin>
  </div>
</div> -->


  <table width="100%" style="margin-top: 10px;">

    <tr>
        <th>Id</th>
        <th>N ° Matricule</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Specialité</th>
        <th>Action</th>
        </tr>

        <tr>
          <td> 1</td>
          <td> MB001</td>
          <td> Bane</td>
          <td>  Moussa</td>
        <td> bane8251@gmail.com </td>
        <td>  82511723</td>
        <td> Docteur  </td>
        <td>
          <a href="#"><i class="fas fa-edit" style="color: #38B198;"> </i></a>
          <a href="#"><i class="fas fa-trash" style="color: red;" > </i></a>
        </td>
     </tr>

        <tr>
          <td> 2</td>
          <td> OS002</td>
          <td> Sall</td>
          <td>  Oumar</td>
        <td> sall8251@gmail.com </td>
        <td>  82511723</td>
        <td> Docteur  </td>
        
        <td>
          <a href="#"><i class="fas fa-edit" style="color: #38B198;"> </i></a>
          <a href="#"><i class="fas fa-trash" style="color: red;" > </i></a>
        </td>
     </tr>

        <tr>
          <td> 3</td>
          <td> AL001</td>
          <td> Lah</td>
          <td>  Aly</td>
        <td> aly8251@gmail.com </td>
        <td>  82511723</td>
        <td> Docteur  </td>
        <td>
        <a href="#"><i class="fas fa-edit" style="color: #38B198;"> </i></a>
        <a href="#"><i class="fas fa-trash" style="color: red;" > </i></a>
        </td>
     </tr>

</table>



<script>
  document.addEventListener("DOMContentLoaded", function() {
    const animationText = document.getElementById("animation-text");
  
    setTimeout(function() {
      animationText.classList.add("hidden");
    }, 12000);
  });
  </script>