

<form [formGroup]="loginForm" (ngSubmit)="login()">

<div id="container">
  <div id="left">
  
  </div>
  <div id="right" style="margin-top: -80px;">
      <div class="haut">

    <h1 id="login">Patient Login</h1><br>
    <input formControlName="email" type="email" id="email" class="client-info">
    <label for="email">Email</label>
    <input formControlName="password" type="password" id="password" class="client-info">
    <label for="password">Password</label>
    <input type="submit" id="submit" class="client-info" style="cursor: pointer;"  value="Se conneceter">

    <p  style="color:black ; margin-left: 110px;" > Vous n'avez pas de compte ? <a routerLink="/create-patient" style="color: #38B198; cursor: pointer;">  Créer un compte </a> </p>
  </div>
  </div>
</div>


</form>


<script>
/* Work in proggress */
document.getElementById('see-button').addEventListener('click', evt => {
document.getElementById('blur-work').style.display = 'none';
})
 /* Work in proggress */
</script>