<!-- <h2>Login Form</h2>

<form action="/action_page.php" method="post">
  <div class="imgcontainer">
    <img src="../../assets/image/4326320.png"alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Nom</b></label>
    <input type="text" placeholder="Entrer votre nom" name="uname" required>
    <label for="uname"><b>Prenom</b></label>
    <input type="text" placeholder="Entrer votre prenom" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <label for="psw"><b>Confirm Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form> -->



