
<div id="container" style="margin-top: 30px;">
    <div id="left"> 
    </div>
    <div id="right">
        <div class="haut">
      <h1 id="login">Créer un compte</h1><br>
      <form action="">
      <input type="text" id="text" class="client-info">
      <label for="text">Nom d'utilisateur</label>
      <input type="email" id="email" class="client-info">
      <label for="email">Email</label>
      <input type="number" id="number" class="client-info">
      <label for="number">Numero</label>
      <input type="password" id="password" class="client-info">
      <label for="password">Mot de passe</label>
      <input type="submit" id="submit" class="client-info" style="cursor: pointer;" value="S'enregistrer">
    </form>
      <p  style="color:black ; margin-left: 110px;" > Vous avez  deja un  compte ? <a routerLink="/app-ajouterpatient" style="color: #38B198; cursor: pointer;">  Connectez vous </a> </p>
      <!-- <p  style="color:black; margin-left: 120px;"> Vous avez un compte admin ? <a   routerLink="/login" style="color: #38B198; cursor: pointer; " >Se connecter</a> </p> -->

    </div>
    </div>
  </div>

<!-- <router-outlet></router-outlet> -->

  
  <script>
   /* Work in proggress */
   document.getElementById('see-button').addEventListener('click', evt => {
	document.getElementById('blur-work').style.display = 'none';
})
   /* Work in proggress */
  </script>