
<div id="container" style="margin-top: 30px;">
    <div id="left" style="margin-top: -30px;" > 
    </div>
    <div id="right" style="margin-top: -180px;" >
        <div class="haut" >
      <h1 id="login">Créer un compte</h1><br>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input formControlName="prenom" type="text" id="nom" class="client-info">
      <label for="nom">Prenom</label>
      <input formControlName="nom" type="text" id="nom" class="client-info">
      <label for="nom">Nom</label>
      <input formControlName="username" type="text" id="nom" class="client-info">
      <label for="nom">Nom d'utilisateur</label>
      <input formControlName="email" type="email" id="email" class="client-info">
      <label for="email">Email</label>
      <input  formControlName="telephone" type="number" id="telephone" class="client-info">
      <label for="telephone">Numero</label>
      <input formControlName="password" type="password" id="password" class="client-info">
      <label for="password">Mot de passe</label>
      <input type="submit" id="submit" class="client-info" style="cursor: pointer;" value="S'enregistrer">
      
      <p  style="color:black ; margin-left: 110px;" > Vous avez  deja un  compte ? <a routerLink="/create-patient" style="color: #38B198; cursor: pointer;">  Connectez vous </a> </p>
    </form>
      <!-- <p  style="color:black; margin-left: 120px;"> Vous avez un compte admin ? <a   routerLink="/login" style="color: #38B198; cursor: pointer; " >Se connecter</a> </p> -->

    </div>
    </div>
  </div>
  <!-- <form [formGroup]="registerForm" (ngSubmit)="register()">
    <input formControlName="email" placeholder="Email">
    <div *ngIf="registerForm.controls.email.invalid && (registerForm.controls.email.dirty || registerForm.controls.email.touched)">
      <div *ngIf="registerForm.controls.email.errors.required">L'e-mail est requis.</div>
      <div *ngIf="registerForm.controls.email.errors.email">L'e-mail n'est pas valide.</div>
    </div>
    
    <input formControlName="password" placeholder="Password" type="password">
    <div *ngIf="registerForm.controls.password.invalid && (registerForm.controls.password.dirty || registerForm.controls.password.touched)">
      <div *ngIf="registerForm.controls.password.errors.required">Le mot de passe est requis.</div>
      <div *ngIf="registerForm.controls.password.errors.minlength">Le mot de passe doit avoir au moins 6 caractères.</div>
    </div>
    
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
    <div *ngIf="registrationError" class="error-message">
      {{ registrationError }}
    </div> -->
  <!-- </form> -->
<!-- <router-outlet></router-outlet> -->

  
  <script>
   /* Work in proggress */
   document.getElementById('see-button').addEventListener('click', evt => {
	document.getElementById('blur-work').style.display = 'none';
})
   /* Work in proggress */
  </script>