



 
<!-- <app-adminlogin></app-adminlogin> -->



<div class="app-container" >
    <nav class="nav" *ngIf="!isCreateAccountPage && !isLoginPage && !isCreatePatientPage && !isPatientLoginPage">
      <input type="checkbox" id="nav-check">
      <div class="nav-header">
        <div class="nav-title">
          Cherifla
        </div>
      </div>
      <div class="nav-btn">
        <label for="nav-check">
          <span></span>
          <span></span>
          <span></span>
        </label>
      </div>
      
      <ul class="nav-list" *ngIf="isAccueilPage || isListeRendezVousPage" >
        <li><a routerLink="/accueil" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Accueil</a></li>
        <li><a routerLink="/liste-rdv" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Rendez-Vous</a></li>
        <i><a routerLink="/patient-login" style="font-size: 20px; font-weight: bold; cursor: pointer; color: #fff;" *ngIf="!isLoginPage">Se connecter</a></i>
      </ul>

      <ul class="nav-list" *ngIf="isAdminAccueilPage || isListesRendezVousPage  || isListeDocPage" >
        <li><a routerLink="/admin-accueil" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Accueil</a></li>
        <li><a routerLink="/listes-rdv" style="font-size: 20px; font-weight: bold; cursor: pointer;" >Liste Rendez-Vous</a></li>
        <li><a routerLink="/liste-doc" routerLinkActive="active" style="font-size: 20px; font-weight: bold; cursor: pointer;"  >Liste Medecin</a></li>
        <i><a routerLink="/login" style="font-size: 20px; font-weight: bold; cursor: pointer; color: #fff;" >Déconnection</a></i>
      </ul>
      
    </nav>
  
  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
  </footer>
</div>




   



