


<div class="app-container">
  <nav class="nav">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
      <div class="nav-title">
        Logo
      </div>
    </div>
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    
    <ul class="nav-list">
      <li><a routerLink="/admin-accueil" style="font-size: 20px; font-weight: bold;">Accueil</a></li>
      <li><a routerLink="/liste-rdv" style="font-size: 20px; font-weight: bold;">Rendez-vous</a></li>
      <li><a routerLink="/liste-doc" routerLinkActive="active" style="font-size: 20px; font-weight: bold;" >Liste medecin</a></li>
      <i><a routerLink="/login" style="font-size: 20px; font-weight: bold; cursor: pointer;">Logout</a></i>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer class="footer">
  </footer>
</div>



   



 
