* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Segoe UI';
}
.nav {
  width: 100%;
  background-color: #38B198;
  display: flex;
  align-items: center;
}
.nav > .nav-header {
  flex: 0.95;
  padding-left: 1rem;
}
.nav > .nav-header > .nav-title {
  font-size: 22px;
  color: #fff;
}
a{
  text-decoration: none;
}
.nav > .nav-list {
  display: flex;
  gap: 2rem;
}
.nav > .nav-list > li {
  list-style-type: none;
}
.nav > .nav-list > li a {
  text-decoration: none;
  color: #efefef;
  cursor: pointer;
}
.nav > #nav-check {
    display: none;
}
@media (max-width: 480px) {
  .nav {
    padding: 1rem;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0.2rem;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #38B198;
    height: 0;
    transition: all 0.3s ease-in;
    top: 40px;
    left: 0;
    overflow: hidden;
  }
  
  a{
    cursor: pointer;
  }
  .nav > .nav-list > li {
    width: 100%;
    margin-top: 1.5rem;
  }
  .nav > #nav-check:checked ~ .nav-list {
    height: calc(100vh - 50px);
  }
}
/* 
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
} 
  */


  .footer {
    background-color: #38B198;
    margin-top: 30px;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .contact-info {
    flex: 1;
    text-align: left;
  }
  
  .contact-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    color: white;
  }
  
  .contact-item i {
    margin-right: 10px;
  }
  
  .useful-links ul {
    list-style: none;
    padding: 0;
    text-align: right;
  }
  
  .useful-links li {
    margin-bottom: 5px;
  }
  
  .useful-links a {
    color: white;
    text-decoration: none;
  }
  
       