<!-- <div class="slider">
    <div class="element">
            <h2 style="font-size: 25px;">Prenez rendez-vous avec un professionnel de santé sans vous deplacez!<br><br><br><span style="color: black;">Rapide et Securisé</span></h2>
            <img src="../../assets/image/Acceuil_slider.jpg">
    </div>
    <div class="element">
        <h2 style="font-size: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus perspiciatis ea blanditiis deserunt, cupiditate quasi laboriosam nam officiis optio quas eaque omnis asperiores modi eligendi, esse pariatur nulla repudiandae voluptates.!<br><br><br><span style="color: black;">Rapide et Securisé</span></h2>
        <img src="../../assets/image/Acceuil_slider.jpg">
    </div>

</div> -->

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="myslider-container">
            <div class="numbertext">Prenez rendez-vous avec un professionnel de santé sans vous deplacez! <br> <br>
               <span style="color: black;">Rapide et Securisé</span> </div>
            <img src="../../assets/image/enfant_docteur.jpg" style="width:100%">         
        </div>
    </div>
  
    <div class="mySlides fade">
        <div class="myslider-container">
            <div class="numbertext">Nous savons à quel point il peut être frustrant d'attendre de longues heures pour consulter un professionnel de la santé. Avec notre application, vous pouvez désormais éviter ces fichiers d'attente stressantes et prendre rendez-vous en toute simplicité.

                Plus besoin de jongler avec les horaires et de passer des heures au téléphone. Notre application vous permet de choisir votre professionnel de la santé, de consulter les créneaux disponibles et de</div>
            <img src="../../assets/image/docteur_enceinte.jpg" style="width:100%">         
        </div>
    </div>
    <div class="mySlides fade">
        <div class="myslider-container">
            <div class="numbertext">Nous comprenons à quel point il peut être important d'obtenir des rendez-vous médicaux de manière rapide et pratique. Avec cette nouvelle application, vous pourrez désormais prendre des rendez-vous en ligne, gérer vos horaires . Cela signifie moins de temps d'attente au téléphone et plus de temps pour vous concentrer sur votre bien-être.</div>
            <img src="../../assets/image/docteur_bb.jpg" style="width:100%">         
        </div>
    </div>
 
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    
    </div>
<div class="apropos">
<P>A propos de nous</P>
<hr>
</div>
<div class="aproposdenous">
    <img src="../../assets/image/apropos.jpg" alt="docteurs a propos">
<h3>Notre plateforme de rendez-vous médicaux a été créée dans le but de faciliter l'accès aux soins de santé et de simplifier le processus de prise de rendez-vous chez les professionnels 
    de la santé. Nous comprenons à quel point il peut être frustrant de jongler avec les horaires chargés, les appels téléphoniques et les délais
     d'attente pour obtenir un rendez-vous médical. </h3>
</div>

<!-- <div class="docteurli"> -->
    <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/image/doc1.jpg" alt="Angular Carousel 1">
          </div>
          <div class="carousel-caption">
            <h3 class="docteur-list">Isiaka Dembele <br> Dentiste</h3>
          </div>
          
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="../../assets/image/docteur_enceinte.jpg" alt="Angular Carousel 2">
          </div>
          <div class="carousel-caption">
            <h3 class="docteur-list">Mohamed Dembele <br> cardiologue</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    <!-- <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3 class="docteur-list">Mohamed Dembele <br> cardiologue</h3>
    </div>
    <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3 class="docteur-list">Isiaka Dembele <br> Dentiste</h3>
    </div>
    <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3 class="docteur-list">Alimata Coulibaly <br>Pediatre</h3>
    </div>
</div> -->