<div class="slider">
    <h2 style="font-size: 25px;">Prenez rendez-vous avec un professionnel de santé sans vous deplacez!<br><br><br><br><span style="color: black;">Rapide et Securisé</span></h2>
    
    <img src="https://api.ganatan.com/articles/img/bootstrap-avec-angular.png" alt="mlkllk">
</div>
<div class="apropos">
<P>A propos de nous</P>
<hr>
</div>
<div class="aproposdenous">
    <img src="https://resize.prod.docfr.doc-media.fr/rcrop/650,380,center-middle/ext/eac4ff34/content/2022/7/3/patients-moins-anxieux-lorsqu-ils-partagent-origines-ethniques-avec-medecin-99aeb047747725c0.jpeg" alt="docteurs a propos">
<h3>Notre plateforme de rendez-vous médicaux a été créée dans le but de faciliter l'accès aux soins de santé et de simplifier le processus de prise de rendez-vous chez les professionnels 
    de la santé. Nous comprenons à quel point il peut être frustrant de jongler avec les horaires chargés, les appels téléphoniques et les délais
     d'attente pour obtenir un rendez-vous médical. </h3>
</div>
<div class="docteurli">
    <div class="doc">
        <img src="https://resize.prod.docfr.doc-media.fr/rcrop/650,380,center-middle/ext/eac4ff34/content/2022/7/3/patients-moins-anxieux-lorsqu-ils-partagent-origines-ethniques-avec-medecin-99aeb047747725c0.jpeg" alt="doc1">
    <h3>Mohamed Dembele <br> cardiologue</h3>
    </div>
    <div class="doc">
        <img src="https://resize.prod.docfr.doc-media.fr/rcrop/650,380,center-middle/ext/eac4ff34/content/2022/7/3/patients-moins-anxieux-lorsqu-ils-partagent-origines-ethniques-avec-medecin-99aeb047747725c0.jpeg" alt="doc1">
    <h3>Isiaka Dembele <br> Dentiste</h3>
    </div>
    <div class="doc">
        <img src="https://resize.prod.docfr.doc-media.fr/rcrop/650,380,center-middle/ext/eac4ff34/content/2022/7/3/patients-moins-anxieux-lorsqu-ils-partagent-origines-ethniques-avec-medecin-99aeb047747725c0.jpeg" alt="doc1">
    <h3>Alimata Coulibaly <br>Pediatre</h3>
    </div>
</div>