

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<!-- <div [@fadeInOut]>
    
  </div> -->

  
    
    <div class="add-doctor-container" style="margin-left: 450px; margin-top: 80px;" [@slideInOut]>
        
      
      
        <h2 class="title">Details rendez-vous</h2> <br>
        <div class="trait">  </div>

        <div class="form-container">
          
          
          <!-- <h4 class="title" style="margin-left:290px; margin-top:15px;"  (change)="handleImageChange($event)" accept="image/*" >Charger l'image</h4> -->
          <!-- <input type="file" style="display:noe; margin-left:320px; margin-top:-50px; width:30px;" (change)="handleImageChange($event)" accept="image/*" class="input-field"> -->
         
                <h2 style="color:#38B198"> Mardi , 08 Août 2023, 14h 00 </h2>
                <h3 style="color:#38B198"> Nom complet patient </h3>
                <div style="font-size: 20px; margin-top: -7vh;margin-left: 260px; color: #38B198;"> Moussa Bane</div>
                <h3  style="color:#38B198"> Nom complet medecin </h3>
                <div style="font-size: 20px; margin-top: -7vh;margin-left: 260px; color:#38B198"> Moussa Bane</div>
                <h3 style="color:#38B198"> Motif du rendez-vous </h3>
                <div style="font-size: 20px; margin-top: -7vh;margin-left: 260px; color:#38B198"> Moussa Bane</div>
                
      
            
            <button type="button" class="add-button" style="margin-top: 20px;" routerLink="/liste-rdv"> <i class="fa fa-arrow-left"> </i>  Retour</button>
        </div>
      </div>
