<!-- 




  
    <div  mat-dialog-content class="mat-typography">
    <div class="add-doctor-container" style="margin-left: 10px; margin-top: 50px;" >
        
      
      
        <h2 class="title">Details rendez-vous</h2> <br>
        <div class="trait">  </div>

        <div class="form-container">
          
          
              <h2 style="color:#38B198"> Mardi , 08 Août 2023, 14h 00 </h2>
                <h1 style="color:#38B198"> Patient </h1>
                <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color: #38B198;"> Moussa Bane</div>
                <h1  style="color:#38B198"> Medecin </h1>
                <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198"> Moussa Bane</div>
                <h1 style="color:#38B198"> Motif </h1>
                <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198"> Moussa Bane</div>
                
      
                <div mat-dialog-actions>
            <button mat-button mat-dialog-close type="button" class="add-button" style="margin-top: 60px; border: none;" > <i class="fa fa-arrow-left"> </i>  Retour</button>
          </div>
          </div>
      </div>
    </div> -->
<!-- 
    <div mat-dialog-content class="mat-typography">
      <div class="add-doctor-container" style="margin-left: 10px; margin-top: 50px;">
        <h2 class="title">Détails rendez-vous</h2>
        <div class="trait"></div>
        <div class="form-container">
          <h2 style="color:#38B198">Deatils</h2>
          <h1 style="color:#38B198">Patient</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color: #38B198;">patient</div>
          <h1 style="color:#38B198">Médecin</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198">medecin</div>
          <h1 style="color:#38B198">Motif</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198">motif </div>
    
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close type="button" class="add-button" style="margin-top: 60px; border: none;">
              <i class="fa fa-arrow-left"></i> Retour
            </button>
          </div>
        </div>
      </div>
    </div> -->


    <div mat-dialog-content class="mat-typography">
      <div class="add-doctor-container" style="margin-left: 10px; margin-top: 50px;">
        <h2 class="title">Détails rendez-vous</h2>
        <div class="trait"></div>
        <div class="form-container">
          <h2 style="color:#38B198">Détails</h2>
          <h1 style="color:#38B198">Patient</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color: #38B198;">{{ data.time }}</div>
          <h1 style="color:#38B198">Médecin</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198">{{ data.medecin.nom }}</div>
          <h1 style="color:#38B198">Motif</h1>
          <div style="font-size: 25px; margin-top: -6vh;margin-left: 270px; color:#38B198">{{ data.motif }}</div>
    
          <div mat-dialog-actions>
            <button mat-button mat-dialog-close type="button" class="add-button" style="margin-top: 60px; border: none;">
              <i class="fa fa-arrow-left"></i> Retour
            </button>
          </div>
        </div>
      </div>
    </div>
    