



<div  mat-dialog-content class="mat-typography">
<div class="add-doctor-container" >
  <h2 class="title" >{{ isEditMode ? 'Modifier un médecin' : 'Ajouter un médecin' }}</h2> <br>
  <div class="trait"> </div>

  <div class="form-container">
    <div class="image-preview">
      <img [src]="imagePreview" alt="Aperçu de l'image">

    </div>
    <h4 class="title" style="margin-left: 290px; cursor: pointer; margin-top: 15px;" (click)="triggerImageUpload()">
      Charger l'image</h4>
    <input type="file" #imageInput style="display: none;" (change)="handleImageChange($event)" accept="image/*"
      class="input-field">


    <form>
      <div class="input-group">

        <input type="text" placeholder="Nom" class="input-field">
        <input type="text" placeholder="Prénom" class="input-field">

        <input type="text" placeholder="Email" class="input-field">
        <input type="tel" placeholder="Téléphone" class="input-field">

        <input type="text" placeholder="Spécialité" class="input-field">
      </div>
      <button  mat-raised-button type="button" class="add-button">
        <i class="fa fa-plus"> </i>
        {{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="add-button" style="margin-left:-20px; margin-top: -85px;">Annuler</button>
    </div>
  </div>
</div>

</div>