



<div  mat-dialog-content class="mat-typography">
<div class="add-doctor-container" >
  <h2 class="title" >{{ isEditMode ? 'Modifier un médecin' : 'Ajouter un médecin' }}</h2> <br>
  <div class="trait"> </div>

  <div class="form-container">
    <div class="image-preview">
      <img [src]="imagePreview" alt="Aperçu de l'image">

    </div>
    <form [formGroup]="medecinForm" (ngSubmit)="onSubmit()" >

    <h4 class="title" style="margin-left: 290px; cursor: pointer; margin-top: 20px;" (click)="triggerImageUpload()">
      Charger l'image</h4>
    <input type="file" #imageInput style="display: none;" formControlName="image" (change)="handleImageChange($event)" accept="image/*"
      class="input-field">
      <!-- <p *ngIf="selectedFile">{{ selectedFile.name }}</p> -->


      <div class="input-group">

        <input type="text" formControlName="nom" placeholder="Nom"  class="input-field">
        <input type="text" formControlName="prenom" placeholder="Prénom"  class="input-field">

        <input type="text" formControlName="email" placeholder="Email"  class="input-field">
        <input type="tel" formControlName="telephone" placeholder="Téléphone"  class="input-field">

        <input type="text" formControlName="specialite" placeholder="Spécialité"   class="input-field">
      </div>
      
      <button type="submit"  class="add-button">
        <i class="fa fa-plus"> </i>
        {{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
    </form>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close class="add-button" style="margin-left:-20px; margin-top: -85px;">Annuler</button>
    </div>
  </div>
</div>

</div>

<!-- <pre>
  {{medecinForm.value | json}}
</pre> -->