.container {
    max-width: 400px;
    margin-top: 80px;
    padding: 20px;
    background-color: #fff;
    border: solid #999 1px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

.link {
    display: block;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

.link:hover {
    background-color: #e0e0e0;
}
