
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<div class="containt">
    <div class="icon">
        
    </div>
    <div class="container">
    <h1>Etes-vous administrateur ou patient :</h1>
    <img src="../../assets/image/admin.png;" alt="">
    <ul>
        <li><a routerLink="/create-admin">Inscription Administrateur</a></li>
        <li><a routerLink="/createpatient">Inscription Patient</a></li>
    </ul>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->
