<div class="slideshow-container" style="margin-top: -25px;">

    <div class="mySlides fade">
        <div class="myslider-container">
            <div class="numbertext">Prenez rendez-vous avec un professionnel de santé sans vous deplacez! <br> <br>
               <span style="color: black;">Rapide et Securisé</span> </div>
            <img src="/assets/image/Rectangle 89.png" style="width:100%">         
        </div>
    </div>
  
    <div class="mySlides fade">
        <div class="myslider-container" style="opacity: 1;">
            <div class="numbertext">Faites vous consulter par des professionnelles de la santé sans vous tracassez des long fille d'attente</div>
            <img src="/assets/image/Rectangle 89.png" style="width:100%">         
        </div>
    </div>
    <div class="mySlides fade">
        <div class="myslider-container">
            <div class="numbertext">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda sed cupiditate dignissimos aspernatur id omnis magnam, nobis quaerat dolorem ratione, neque sint numquam nemo libero nulla eius est doloribus. Soluta.</div>
            <img src="/assets/image/Rectangle 89.png" style="width:100%">         
        </div>
    </div>
  
    
    <a class="prev" (click)="plusSlides(-1)">❮</a>
    <a class="next" (click)="plusSlides(1)">❯</a>
    
    </div>
<div class="apropos">
<P>A propos de nous</P>
<hr>
</div>
<div class="aproposdenous">
    <img src="../../assets/image/apropos.jpg" alt="docteurs a propos">
<h3>Notre plateforme de rendez-vous médicaux a été créée dans le but de faciliter l'accès aux soins de santé et de simplifier le processus de prise de rendez-vous chez les professionnels 
    de la santé. Nous comprenons à quel point il peut être frustrant de jongler avec les horaires chargés, les appels téléphoniques et les délais
     d'attente pour obtenir un rendez-vous médical. </h3>
</div>
<div class="docteurli">
    <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3>Mohamed Dembele <br> cardiologue</h3>
    </div>
    <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3>Isiaka Dembele <br> Dentiste</h3>
    </div>
    <div class="doc">
        <img src="../../assets/image/doc1.jpg" alt="doc1">
    <h3>Alimata Coulibaly <br>Pediatre</h3>
    </div>
</div>